<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %> - Pizza</title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


</head>
<body>
    
   
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="logo">
            <div class="firstWord">PIZZA</div>
            <div class="secondWord">KMA</div>
            <img src="assets/images/discount.svg" class="dicountImageTop"/>
        </div>
        <div class="firstLineNav">
             <div class="phone firstLineItem visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                 (044) 222 5 222
            </div>
            <div class="firstLineItem visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="firstLineItem visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div class="btn btn-primary  navbar-btn visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">Увiйти</div>
        </div>
        <span class="secondLineNav">
            <a href="/index.html"  class="pizzaWordNaw hidden-xs"></a> 
        </span>
        
    </nav>

